@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  background-color: black;
  height: 100%;
}

#__next {
  height: 100%;
}

.App {
  position: relative;
  height: 100%;
}

.backgroundGrad {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -9999;
}

.gradCols {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  filter: blur(100px);
  overflow: hidden;
}

#color1 {
  width: 600px;
  height: 700px;
  background-color: #f72585;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: anim1 12s linear infinite;
}

@keyframes anim1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

#color2 {
  width: 600px;
  height: 700px;
  background-color: #560bad;
  top: 60%;
  left: 40%;
  z-index: -2;
  animation: anim2 12s linear infinite;
}

@keyframes anim2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg)
      translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

#color3 {
  width: 600px;
  height: 600px;
  background-color: #4cc9f0;
  top: 50%;
  left: 50%;
  z-index: -1;
  animation: anim3 12s linear infinite alternate;
}

@keyframes anim3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
}

a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

.Nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

nav {
  width: 600px;
  height: 80px;
  background-color: black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#portfolio {
  background: linear-gradient(45deg, #f72585, #4cc9f0) border-box;
  padding: 5px 30px;
  border-radius: 20px;
  color: white;
  font-weight: 400;
}

.Text {
  height: calc(100vh - 120px);
  white-space: nowrap;
  animation: scrollText 15s infinite linear;
  display: inline-flex;
  align-items: center;
}

.marquee {
  font-size: 300px;
  display: inline-block;
  min-width: 100vw;
  color: white;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ############################################ PORTFOLIO ######################################################## */
/* ############################################ PORTFOLIO ######################################################## */
/* ############################################ PORTFOLIO ######################################################## */

.portfolio {
  background-image: linear-gradient(to right top, #16040c, #110813, #0c0c15, #070f16, #061114);
  height: 100%;
  overflow: auto;
}

.portfolioTitle {
  color: White;
  text-align: center;
  font-size: 120px;
}

.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 10px;
}

.portfolioItem {
  position: relative;
  color: white;
  background-color: #061114;
  min-height: 320px;
}

.itemImage {
  position: relative;
  height: calc(100% - 60px);
  background-color: #071418;
}

.itemInfo {
  height: 60px;
  padding: 5px 10px;
  text-align: center;
}

.itemTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.itemDomainPreview {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}

.itemTools {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35px;
  height: calc(100% - 60px);
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media screen and (max-width: 1550px) {
  .portfolioTitle {
    font-size: 100px;
  }
}

@media screen and (max-width: 1250px) {
  .portfolioTitle {
    font-size: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .marquee {
    font-size: 120px;
  }
  .portfolioTitle {
    margin-top: 10px;
    font-size: 40px;
  }
  .portfolioGrid {
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .itemTools {
    width: 30px;
  }
}

@media screen and (max-width: 650px) {
  .Nav * {
    font-size: 16px;
  }
  .portfolioGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  nav {
    width: 100%;
    padding: 0px 40px;
  }

  .itemTitle {
    font-size: 1rem;
  }

  .itemDomainPreview {
    font-size: 0.8rem;
  }
}
